<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>905209403991-8038vc35iq3mt5im5b0n13lmi78jk1sc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.905209403991-8038vc35iq3mt5im5b0n13lmi78jk1sc</string>
	<key>API_KEY</key>
	<string>AIzaSyCdIYqA4vGd7z_Q-teKoN3NRlh1GBELb2E</string>
	<key>GCM_SENDER_ID</key>
	<string>905209403991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.iradsApp</string>
	<key>PROJECT_ID</key>
	<string>irads-d7ce6</string>
	<key>STORAGE_BUCKET</key>
	<string>irads-d7ce6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905209403991:ios:508c1562485d8520d4a112</string>
</dict>
</plist>